<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= name %> / Alert</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif !important;
      }
      .alertbody {
        left: 0;
        right: 0;
        margin: auto;
        width: 575px;
        height: 200px;
        background-image: url("/assets/img/stream donation.png");
        background-repeat: no-repeat;
        transform: scale(1);
        text-align: center;
        color: white;
        display: none;
      }
      .alertbody .alertinfo {
        position: relative;
        top: 50px;
        padding: 5px;
      }
      .alertbody .alertinfo #donaitor {
        font-size: 26px;
        font-weight: bold;
        display: inline-block;
        line-height: 41px;
        padding: 6px 0 0 0;
        box-sizing: border-box;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
        overflow: hidden;
      }
      .alertbody .alertinfo #money {
        height: 39px;
        font-size: 18px;
        line-height: 30px;
        padding: 0px 0 0 0;
        margin: 0 auto;
        box-sizing: border-box;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
        overflow: hidden;
      }
      .alertbody .alertinfo #decs {
        overflow-wrap: break-word;
        margin: 15px 0 20px 0;
        max-width: 450px;
        font-size: 18px;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px 10px;
        border-radius: 10px;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 1), 0px 2px 3px rgba(0, 0, 0, 1);
        text-align: justify;
        -moz-text-align-last: center;
        text-align-last: center;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
      }
    </style>
  </head>
  <body>
    <div class="alertbody">
      <div class="alertinfo">
        <div id="donaitor">KiaN</div>
        <div id="money">50,000 تومان</div>
        <p id="decs">
          Baraye Shadi Rasti To Nagofti Ke Berim Biron Baham ?? Agar Yadet
          Nemiyad Kheyli Badi Nemibakhshamet
        </p>
      </div>
    </div>
    <audio id="mainaudio">
      <source src="/assets/coin.mp3" />
    </audio>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script>
      var socket = io();
var sends = true;
var socketQueue = [];

socket.on("connect", function () {});

socket.on("alert-" + "<%= alertlink %>", function (alertInfo) {
  if (sends) {
    showAlert(alertInfo);
  } else {
    socketQueue.push(alertInfo); // اضافه کردن پیام به صف انتظار
  }
});

function showAlert(alertInfo) {
  sends = false;
  $(".alertbody").fadeIn();
  $("#donaitor").html(alertInfo.donator);
  $("#money").html(`مبلغ ${alertInfo.money} تومان حمایت کرد`);
  $("#decs").html(alertInfo.desc);
  var audio = $("#mainaudio")[0];
  audio.play();
  setTimeout(() => {
    $(".alertbody").fadeOut();
    setTimeout(() => {
      sends = true;
      playNextSocket(); // فراخوانی تابع برای پخش پیام‌های در صف انتظار
    }, 1000);
  }, 5000);
}

// تابعی برای پخش پیام‌های در صف انتظار
function playNextSocket() {
  if (socketQueue.length > 0 && sends) {
    var nextSocket = socketQueue.shift();
    showAlert(nextSocket);
  }
}

    </script>
  </body>
</html>
