<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/3d65360e1b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <link rel="stylesheet" href="/assets/css/auth.css" />
    <title><%= name %> | Donate <%= streamer.username %></title>
  </head>
  <body dir="rtl">
    <div class="base">
      <div class="container-fluid">
        <div class="logo text-center">
          <img
            src="/assets/img/untitled-1_iyfa.png"
            alt="logo"
            style="width: 30%"
          />
        </div>
        <form class="row" action="/donate/<%= streamer %>" method="post">
          <input
            type="number"
            name="money"
            id="money"
            class="col-12 mt-2 mb-3 sd-link text-center"
            placeholder="مبلغ حمایت"
            required
          />
          <input
            type="text"
            name="donator"
            id="donator"
            class="col-12 mb-3 sd-link text-center"
            placeholder="نام شما"
            required
          />
          <div class="col-6">
            <input
              type="email"
              name="donator-email"
              id="donator-email"
              class="mb-3 sd-link text-center"
              placeholder="ایمیل"
              required
            />
          </div>
          <div class="col-6">
            <input
              type="tel"
              name="donator-phonenumber"
              id="donator-phonenumber"
              class="mb-3 sd-link text-center"
              placeholder="شماره تماس"
              required
            />
          </div>
          <textarea
            name="descs"
            id="descs"
            class="col-12 mb-3 sd-link"
            placeholder="توضیحات"
            style="
              min-height: 100px !important;
              resize: none;
              direction: rtl;
              text-align: right;
            "
            maxlength="300"
            required
          ></textarea>
          <button type="submit" class="col-12 btn btn-primary mt-3">
            پرداخت
          </button>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
